@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme */
:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
}

/* Dark theme */
.dark {
  --background: 222.2 47.4% 11.2%;
  --foreground: 210 40% 98%;
}
